body {
    background-image: url("https://c02.purpledshub.com/uploads/sites/48/2024/06/vast-space-station.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    
}

